
body{

    background-image: url("backgroundchange.gif");
    height: 100%;
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;         
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
    img {
        opacity: 0.5;
        filter: alpha(opacity=50); 
      }
    
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#006747;
  text-align: center;
  color:white;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

               
