
body{

    background-image: url("5b918b83a56ee.image.jpg");
    height: 100%;
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;         
    background-position: center center;
    background-attachment: fixed;
}
               