#searchform {
    background-color: lightgrey;
    width: 1000px;
    border: 15px solid green;
    background-image: url("namedbricks.jpg");
    padding: 25px;
    margin-left:100px;
    margin-right: 100px;
    text-align: center;
    box-align: center;
    float: center;
  }

  #results {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #results td, #results th {
    border: 1px solid black;
    padding: 15px;
  }
  
  #results tr:nth-child(even){background-color: #f2f2f2;}
  
  #results tr:hover {background-color: yellow;}
  
  #results th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
  }