
  #backgroundimage{
  background-image: url("backgroundchange.gif");
    height: 100%;
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;         
    background-position: center center;
    background-attachment: fixed;
  }

  #results div{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background: rgba(0, 151, 19, 0.6)
    
  }
  
  #results td, #results th {
    border: 1px solid black;
    padding: 15px;
  }
  
  #results tr:nth-child(even){background-color: #f2f2f2;}
  
  #results tr:hover {background-color: yellow;}
  
  #results th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
  }